## editors
/.idea
/.vscode

## system files
.DS_Store

## npm
/node_modules/
/npm-debug.log

## testing
/coverage/

## temp folders
/.tmp/

# build
/.rollup.cache/
/_site/
/dist/
/out-tsc/
/storybook-static/
