@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  @apply text-gray-900;
  height: 100vh;
  width: 100%;
  font-family: 'SourceSansPro', ui-sans-serif, system-ui, -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, "Helvetica Neue", Arial, "Noto Sans", sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol", "Noto Color Emoji";
}

#app {
  height: 100%;
}
