@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  @apply text-gray-900;
  height: 100vh;
  font-family: 'SourceSansPro', ui-sans-serif, system-ui, -apple-system,
    BlinkMacSystemFont, 'Segoe UI', Roboto, 'Helvetica Neue', Arial, 'Noto Sans',
    sans-serif, 'Apple Color Emoji', 'Segoe UI Emoji', 'Segoe UI Symbol',
    'Noto Color Emoji';
}

#app {
  height: 100vh;
}

a:focus-visible {
  @apply focus:border-green-500;
}

a:focus-visible,
button:focus-visible,
input:focus-visible,
ul:focus-visible {
  @apply outline outline-green-500 outline-1;
}
input:focus-visible {
  @apply outline-0;
}

[type='checkbox']:focus {
  @apply outline-green-500;
}

[type='text']:focus,
[type='email']:focus,
[type='url']:focus,
[type='password']:focus,
[type='number']:focus,
[type='date']:focus,
[type='datetime-local']:focus,
[type='month']:focus,
[type='search']:focus,
[type='tel']:focus,
[type='time']:focus,
[type='week']:focus,
[type='radio']:focus [multiple]:focus,
textarea:focus,
select:focus {
  box-shadow: none;
  border-color: transparent;
}
