@tailwind base;
@tailwind components;
@tailwind utilities;

html {
  margin-left: calc(100vw - 100%);
}

body {
  @apply text-gray-900;
  height: 100vh;
  font-family: 'SourceSansPro', ui-sans-serif, system-ui, -apple-system,
    BlinkMacSystemFont, 'Segoe UI', Roboto, 'Helvetica Neue', Arial, 'Noto Sans',
    sans-serif, 'Apple Color Emoji', 'Segoe UI Emoji', 'Segoe UI Symbol',
    'Noto Color Emoji';
}

#app {
  height: 100vh;
}

[type='text']:focus,
[type='email']:focus,
[type='url']:focus,
[type='password']:focus,
[type='number']:focus,
[type='date']:focus,
[type='datetime-local']:focus,
[type='month']:focus,
[type='search']:focus,
[type='tel']:focus,
[type='time']:focus,
[type='week']:focus,
[type='checkbox']:focus,
[type='radio']:focus [multiple]:focus,
textarea:focus,
select:focus {
  --tw-ring-color: black;
}
